.list {
    padding: 0px;
}

.list li {
    display: flex;
    border-bottom: 1px solid #eee;
    padding:10px;
}

.list li span {
    flex: 1;
    cursor: pointer;
}
.list li span.completed{
    text-decoration: line-through;
    color: #ccc;
}